<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head>
<title>Calendar Directive Challenge</title>
<link rel="stylesheet" type="text/css" href="./main.css" />
</head>
<body ng-controller="MonthCtrl">

<!-- your code for nav and calendar directive instance here -->
<nav>
	<select ng-model="date.month">
		<option ng-repeat="month in months" value="{{ $index }}" ng-selected="date.month == $index">{{ month }}</option>
	</select>
	<select ng-model="date.year">
		<option ng-repeat="year in years" value="{{ year }}" ng-selected="date.year == year">{{ year }}</option>
	</select>
</nav>
<div>
	<cal-nav>
		
	</cal-nav>
</div>

<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./utilities/calendar-range/calendarRange.js"></script>
<script type="text/javascript" src="./app.js"></script>
</body>
</html>